@import "compass/reset";
@import "compass/css3";


$black: #000;
$white: #fff;
$blue: HSL(208, 41%, 65%);

$aside: 290px;
$header: 76px;
$headerLi: 40px;


body {
	background-color: HSL(36, 28%, 93%);
	padding-top:$header;
	font-size: 62.5%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

header {
	height: $header;
	position:fixed;
	left:0;
	right:0;
	top:0;
	z-index:2;
	background-color: $white;
	box-shadow: 0 1px 3px #eee;
	.link {
		height:$header;
		position:absolute;
		left:0;
		top:0;
		.write-btn {
			width:$header;
			float:left;
			height:$header;
			border-right: 1px solid lighten($black, 90%);
			a {
				display: block;
				margin:($header - $headerLi) / 2 auto;
				width:$headerLi;
				height:$headerLi;
				line-height: $headerLi;
				text-align: center;
				@include border-radius(50%);
				//border:1px solid lighten($black, 80%);
				background-color: $blue;
				color:#fff;
				@include transition(all 0.3s ease);
				font-size:1rem;
				&:hover {
					font-size:1.2rem;
				}
			}

		}
		ul {
			float:left;
			margin:($header - $headerLi) / 2 0;
			li {
				float:left;
				margin-left:20px;
				font-size: .8rem;
				a {
					display: block;
					width:$headerLi;
					height:$headerLi;
					line-height: $headerLi;
					text-align: center;
					@include border-radius(50%);
					border:1px solid lighten($black, 90%);
					color:lighten($black, 30%);
					text-decoration: none;
					.fa {
						font-weight:bold;

					}
					@include transition(all 0.3s ease);
					&:hover {
						font-size:1rem;
					}
				}
			}
		}
	}
	.logo {
		width: $header;
		margin: 0 auto;
		color:HSL(208, 41%, 65%);
		line-height: $header;
		font-size:2rem;
		a {
			color:$blue;
		}
	}
	.search {
		height:$header;
		position: absolute;
		right:0;
		top:0;
		width:$aside;
		.frm {
			margin-top:15px;
			float:left;
			position:relative;
		}

		input[type=text] {
			@include border-radius(20px);
			border:1px solid lighten($black, 85%);
			width:148px;
			height:$headerLi;
			line-height: $headerLi;
			padding:0 $headerLi 0 15px;
			font-size:.8rem;
			outline: none;
		}
		.fa-search {
			position: absolute;
			display:block;
			width:$headerLi;
			height:$headerLi;
			text-align: center;
			line-height: $headerLi;
			right:5px;
			top:0;
			font-size:1.2rem;
			color:lighten($black, 60%);
		}
		img {
			float:right;
			margin-top:($header - $headerLi) / 2;
			margin-right:30px;
			width:$headerLi;
			height:$headerLi;
			@include border-radius(50%);
		}
	}
}
.main {
	position:relative;
	z-index:1;
	min-width:640px;
}


.left-box {
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	width:$aside;
	background-color: $blue;
	color:#fff;
}
.right-box {
	position: absolute;
	right:0;
	top:0;
	bottom:0;
	width:$aside;
	background-color: $white;
	.box {
		margin:$headerLi $headerLi 0 30px;
		h3 {
			font-size:1rem;
			color:lighten($black, 50%);
			text-transform: uppercase;
		}
		.title {
			margin-bottom:25px;
			.more {
				float:right;
				color:$blue;
				text-transform: capitalize;
				font-size:1rem;
				text-decoration: none;
			}
		}
	}
}
.center-box {
	margin:0 $aside + $headerLi;
	overflow: hidden;
}

.info {
	margin:$headerLi 0;
	background-color: $white;
	overflow:hidden;
	box-shadow: 0 1px 3px #eee;
	li {
		width:25%;
		float:left;
		padding:25px 0 15px;
		text-align: center;
		border-bottom:5px solid $white;
		text-transform: uppercase;
		&.current {
			border-color:$blue;
		}
		strong {
			display: block;
			color:lighten($black, 30%);
			font-size:1rem;
			line-height: 140%;
			font-weight: bold;
			font-family: sans-serif;
		}
		span {
			display: block;
			color:lighten($black, 80%);
			font-size:.8rem;
			line-height: 140%;
		}
	}
}
.msg-list {
	background-color: $white;
	box-shadow: 0 1px 3px #eee;
	.item {
		padding:30px 30px 30px 90px;
		position:relative;
		border-bottom:1px solid lighten($black, 90%);
		font-size:1rem;
		&:last-child {
			border-width:0;
		}
		.face {
			position:absolute;
			left:30px;
			width:$headerLi;
			height:$headerLi;
			@include border-radius(50%);
		}
		.due {
			float:right;
			color:lighten($black, 85%);
			font-size:1rem;
		}
		.title {

		}
		.name {
			color:lighten($black, 70%);
			strong {
				color:lighten($black, 35%);
				font-weight: bold;
				margin-right:5px;
			}
			.fa {
				margin-right:5px;
			}
			.fa-refresh {
				color: HSL(85, 50%, 60%);
			}
		}
		p {
			margin:10px 0 20px;
			font-size: .9rem;
			color:lighten($black, 55%);
			line-height: 160%;
		}
		video {
			width:100%;
		}
		.bar {
			overflow: hidden;
			ul {
				float:left;
			}
			
			li {
				float:left;
				margin-right:20px;

				a {
					color:lighten($black, 60%);
					text-decoration: none;
					span {
						margin-left:5px;
						color:lighten($black, 80%);
					}
				}
			}
		}
		.fa-omit {
			margin-top:-35px;
			&::before {
				content: "…";
				font-size:1.6rem;
				position:relative;
				top:-5px;

			}
		}
		.drop {
			float:right;
			color:lighten($black,80%);
		}
	}
}
.personal {
	margin:60px 25px 40px;
	img {
		display: block;
		width:100px;
		height:100px;
		@include border-radius(50%);
		margin: 0 auto;
	}
	strong {
		display:block;
		margin:20px 0 15px;
		text-align: center;
		font-size:1rem;
		font-weight: bold;
	}
	p {
		color:darken($white, 5%);
		line-height:140%;
		font-size:.8rem;
		text-align: center;
	}
	.link {
		display: block;
		margin:25px 0 20px;
		text-align: center;
		color: $white;
		font-size:.8rem;
		.fa {
			font-size: 1rem;
		}
		a {
			margin-left:5px;
			color:darken($white, 5%);
			text-decoration: none;
		}
	}
	.abtn {
		display: block;
		height:40px;
		width:160px;
		margin:0 auto;
		text-align: center;
		line-height: 40px;
		@include border-radius(20px);
		color:darken($white, 5%);
		text-decoration: none;
		font-size:.8rem;
		background-color: HSL(207, 33%, 57%);
		@include transition(all 0.3s ease-in);
		&:hover {
			background-color: $white;
			color: $blue;
		}
	}
}

.photos {
	overflow:hidden;
	li {
		width: 33.33%;
		float:left;
		img {
			display:block;
			max-width: 100%;
			@include transition(transform 0.3s ease);
			&:hover {
				@include transform(scale(1.1));
			}
		}
	}
}
.menu {
	margin:30px 25px 0;
	h3 {
		margin:30px 0 20px;
		font-size:1.2rem;
		text-transform: uppercase;
	}
	ul {
		li {
			margin:15px;
			font-size:.9rem;
			color:HSL(207, 33%, 57%);
			.fa {
				margin-right:5px;
			}
			a {
				margin-left:5px;
				color:$white;
			}
		}
	}
}
.trend-list {
	li {
		margin:10px 0;
		font-size:1rem;
		white-space: nowrap;
		text-overflow:hidden;
		overflow: hidden;
		a {
			color:$blue;
		}
	}
}
.user-list {
	li {
		position:relative;
		padding:10px 30px 10px 50px;
		img {
			position:absolute;
			left:0;
			top:10px;
			width:$headerLi;
			height:$headerLi;
			@include border-radius(50%);
		}
		strong,span {
			display: block;
			text-overflow:hidden;
			white-space: nowrap;
			overflow: hidden;
			line-height:140%;
			font-size:.8rem;
		}
		strong {
			color:lighten($black, 50%);
			//font-weight: bold;
		}
		span {
			color:lighten($black, 70%);
		}
		.follow-btn {
			position:absolute;
			right:0;
			top:10px;
			display:block;
			width:20px;
			height:20px;
			border:1px solid lighten($black, 85%);
			line-height: 20px;
			text-align: center;
			color:lighten($black, 60%);
		}
	}
}

@media screen and (max-width: 1024px) {
	.info {
		li {
			float:none;
			width:100%;
		}
	}
}
@media screen and (max-width: 960px) {
	.left-box {
		display:none;
	}
	.center-box {
		margin-left:0;
	}
}
@media screen and (max-width: 640px) {
	.left-box {
		display:none;
	}
	.right-box {
		display:none;
	}
	.center-box {
		margin-left:0;
		margin-right:0;
	}
}