@charset "UTF-8";
/* line 5, ../../../../../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/style.scss */
body {
  background-color: HSL(36, 28%, 93%);
  padding-top: 76px;
  font-size: 62.5%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* line 21, ../sass/style.scss */
header {
  height: 76px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 1px 3px #eee;
}
/* line 30, ../sass/style.scss */
header .link {
  height: 76px;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 35, ../sass/style.scss */
header .link .write-btn {
  width: 76px;
  float: left;
  height: 76px;
  border-right: 1px solid #e6e6e6;
}
/* line 40, ../sass/style.scss */
header .link .write-btn a {
  display: block;
  margin: 18px auto;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: HSL(208, 41%, 65%);
  color: #fff;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 52, ../sass/style.scss */
header .link .write-btn a:hover {
  font-size: 1rem;
}
/* line 58, ../sass/style.scss */
header .link ul {
  float: left;
  margin: 18px 0;
}
/* line 61, ../sass/style.scss */
header .link ul li {
  float: left;
  margin-left: 20px;
  font-size: .8rem;
}
/* line 65, ../sass/style.scss */
header .link ul li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  color: #4d4d4d;
  text-decoration: none;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 75, ../sass/style.scss */
header .link ul li a .fa {
  font-weight: bold;
}
/* line 80, ../sass/style.scss */
header .link ul li a:hover {
  font-size: 1rem;
}
/* line 87, ../sass/style.scss */
header .logo {
  width: 76px;
  margin: 0 auto;
  color: HSL(208, 41%, 65%);
  line-height: 76px;
  font-size: 2rem;
}
/* line 93, ../sass/style.scss */
header .logo a {
  color: HSL(208, 41%, 65%);
}
/* line 97, ../sass/style.scss */
header .search {
  height: 76px;
  position: absolute;
  right: 0;
  top: 0;
  width: 290px;
}
/* line 103, ../sass/style.scss */
header .search .frm {
  margin-top: 15px;
  float: left;
  position: relative;
}
/* line 109, ../sass/style.scss */
header .search input[type=text] {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  width: 148px;
  height: 40px;
  line-height: 40px;
  padding: 0 40px 0 15px;
  font-size: .8rem;
  outline: none;
}
/* line 119, ../sass/style.scss */
header .search .fa-search {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  right: 5px;
  top: 0;
  font-size: 1.2rem;
  color: #999999;
}
/* line 131, ../sass/style.scss */
header .search img {
  float: right;
  margin-top: 18px;
  margin-right: 30px;
  width: 40px;
  height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 141, ../sass/style.scss */
.main {
  position: relative;
  z-index: 1;
  min-width: 640px;
}

/* line 148, ../sass/style.scss */
.left-box {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 290px;
  background-color: HSL(208, 41%, 65%);
  color: #fff;
}

/* line 157, ../sass/style.scss */
.right-box {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 290px;
  background-color: #fff;
}
/* line 164, ../sass/style.scss */
.right-box .box {
  margin: 40px 40px 0 30px;
}
/* line 166, ../sass/style.scss */
.right-box .box h3 {
  font-size: 1rem;
  color: gray;
  text-transform: uppercase;
}
/* line 171, ../sass/style.scss */
.right-box .box .title {
  margin-bottom: 25px;
}
/* line 173, ../sass/style.scss */
.right-box .box .title .more {
  float: right;
  color: HSL(208, 41%, 65%);
  text-transform: capitalize;
  font-size: 1rem;
  text-decoration: none;
}

/* line 183, ../sass/style.scss */
.center-box {
  margin: 0 330px;
  overflow: hidden;
}

/* line 188, ../sass/style.scss */
.info {
  margin: 40px 0;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 1px 3px #eee;
}
/* line 193, ../sass/style.scss */
.info li {
  width: 25%;
  float: left;
  padding: 25px 0 15px;
  text-align: center;
  border-bottom: 5px solid #fff;
  text-transform: uppercase;
}
/* line 200, ../sass/style.scss */
.info li.current {
  border-color: HSL(208, 41%, 65%);
}
/* line 203, ../sass/style.scss */
.info li strong {
  display: block;
  color: #4d4d4d;
  font-size: 1rem;
  line-height: 140%;
  font-weight: bold;
  font-family: sans-serif;
}
/* line 211, ../sass/style.scss */
.info li span {
  display: block;
  color: #cccccc;
  font-size: .8rem;
  line-height: 140%;
}

/* line 219, ../sass/style.scss */
.msg-list {
  background-color: #fff;
  box-shadow: 0 1px 3px #eee;
}
/* line 222, ../sass/style.scss */
.msg-list .item {
  padding: 30px 30px 30px 90px;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  font-size: 1rem;
}
/* line 227, ../sass/style.scss */
.msg-list .item:last-child {
  border-width: 0;
}
/* line 230, ../sass/style.scss */
.msg-list .item .face {
  position: absolute;
  left: 30px;
  width: 40px;
  height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 237, ../sass/style.scss */
.msg-list .item .due {
  float: right;
  color: #d9d9d9;
  font-size: 1rem;
}
/* line 245, ../sass/style.scss */
.msg-list .item .name {
  color: #b3b3b3;
}
/* line 247, ../sass/style.scss */
.msg-list .item .name strong {
  color: #595959;
  font-weight: bold;
  margin-right: 5px;
}
/* line 252, ../sass/style.scss */
.msg-list .item .name .fa {
  margin-right: 5px;
}
/* line 255, ../sass/style.scss */
.msg-list .item .name .fa-refresh {
  color: HSL(85, 50%, 60%);
}
/* line 259, ../sass/style.scss */
.msg-list .item p {
  margin: 10px 0 20px;
  font-size: .9rem;
  color: #8c8c8c;
  line-height: 160%;
}
/* line 265, ../sass/style.scss */
.msg-list .item video {
  width: 100%;
}
/* line 268, ../sass/style.scss */
.msg-list .item .bar {
  overflow: hidden;
}
/* line 270, ../sass/style.scss */
.msg-list .item .bar ul {
  float: left;
}
/* line 274, ../sass/style.scss */
.msg-list .item .bar li {
  float: left;
  margin-right: 20px;
}
/* line 278, ../sass/style.scss */
.msg-list .item .bar li a {
  color: #999999;
  text-decoration: none;
}
/* line 281, ../sass/style.scss */
.msg-list .item .bar li a span {
  margin-left: 5px;
  color: #cccccc;
}
/* line 288, ../sass/style.scss */
.msg-list .item .fa-omit {
  margin-top: -35px;
}
/* line 290, ../sass/style.scss */
.msg-list .item .fa-omit::before {
  content: "…";
  font-size: 1.6rem;
  position: relative;
  top: -5px;
}
/* line 298, ../sass/style.scss */
.msg-list .item .drop {
  float: right;
  color: #cccccc;
}

/* line 304, ../sass/style.scss */
.personal {
  margin: 60px 25px 40px;
}
/* line 306, ../sass/style.scss */
.personal img {
  display: block;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;
}
/* line 313, ../sass/style.scss */
.personal strong {
  display: block;
  margin: 20px 0 15px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}
/* line 320, ../sass/style.scss */
.personal p {
  color: #f2f2f2;
  line-height: 140%;
  font-size: .8rem;
  text-align: center;
}
/* line 326, ../sass/style.scss */
.personal .link {
  display: block;
  margin: 25px 0 20px;
  text-align: center;
  color: #fff;
  font-size: .8rem;
}
/* line 332, ../sass/style.scss */
.personal .link .fa {
  font-size: 1rem;
}
/* line 335, ../sass/style.scss */
.personal .link a {
  margin-left: 5px;
  color: #f2f2f2;
  text-decoration: none;
}
/* line 341, ../sass/style.scss */
.personal .abtn {
  display: block;
  height: 40px;
  width: 160px;
  margin: 0 auto;
  text-align: center;
  line-height: 40px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: #f2f2f2;
  text-decoration: none;
  font-size: .8rem;
  background-color: HSL(207, 33%, 57%);
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
/* line 354, ../sass/style.scss */
.personal .abtn:hover {
  background-color: #fff;
  color: HSL(208, 41%, 65%);
}

/* line 361, ../sass/style.scss */
.photos {
  overflow: hidden;
}
/* line 363, ../sass/style.scss */
.photos li {
  width: 33.33%;
  float: left;
}
/* line 366, ../sass/style.scss */
.photos li img {
  display: block;
  max-width: 100%;
  -moz-transition: -moz-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
}
/* line 370, ../sass/style.scss */
.photos li img:hover {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 376, ../sass/style.scss */
.menu {
  margin: 30px 25px 0;
}
/* line 378, ../sass/style.scss */
.menu h3 {
  margin: 30px 0 20px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
/* line 384, ../sass/style.scss */
.menu ul li {
  margin: 15px;
  font-size: .9rem;
  color: HSL(207, 33%, 57%);
}
/* line 388, ../sass/style.scss */
.menu ul li .fa {
  margin-right: 5px;
}
/* line 391, ../sass/style.scss */
.menu ul li a {
  margin-left: 5px;
  color: #fff;
}

/* line 399, ../sass/style.scss */
.trend-list li {
  margin: 10px 0;
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: hidden;
  overflow: hidden;
}
/* line 405, ../sass/style.scss */
.trend-list li a {
  color: HSL(208, 41%, 65%);
}

/* line 411, ../sass/style.scss */
.user-list li {
  position: relative;
  padding: 10px 30px 10px 50px;
}
/* line 414, ../sass/style.scss */
.user-list li img {
  position: absolute;
  left: 0;
  top: 10px;
  width: 40px;
  height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 422, ../sass/style.scss */
.user-list li strong, .user-list li span {
  display: block;
  text-overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  line-height: 140%;
  font-size: .8rem;
}
/* line 430, ../sass/style.scss */
.user-list li strong {
  color: gray;
  font-weight: bold;
}
/* line 434, ../sass/style.scss */
.user-list li span {
  color: #b3b3b3;
}
/* line 437, ../sass/style.scss */
.user-list li .follow-btn {
  position: absolute;
  right: 0;
  top: 10px;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #d9d9d9;
  line-height: 20px;
  text-align: center;
  color: #999999;
}

@media screen and (max-width: 1024px) {
  /* line 454, ../sass/style.scss */
  .info li {
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 960px) {
  /* line 461, ../sass/style.scss */
  .left-box {
    display: none;
  }

  /* line 464, ../sass/style.scss */
  .center-box {
    margin-left: 0;
  }
}
@media screen and (max-width: 640px) {
  /* line 469, ../sass/style.scss */
  .left-box {
    display: none;
  }

  /* line 472, ../sass/style.scss */
  .right-box {
    display: none;
  }

  /* line 475, ../sass/style.scss */
  .center-box {
    margin-left: 0;
    margin-right: 0;
  }
}
